/* You can add global styles to this file, and also import other style files 

.main-container {
    margin-top: 20px;
}


/* body{
  background: #0f0c29;   
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);  
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
}


.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.fast {
  -webkit-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes fadeIn {
  from {
      opacity: 0;
  }
  to {
      opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
}*/

* {
    box-sizing: border-box;
}

body {
    /* perspective: 600px;*/
    margin: 0;
    padding: 0;
    font-family: "Muli", sans-serif;
    background: #1c92d2;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left #f2fcfe, #1c92d2);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f2fcfe, #1c92d2);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*-------------------------------------------*/

.slider {
    width: 100%;
    height: 600px;
    background-image: url('https://i.imgur.com/BBhK8bd.png');
    background-size: cover;
}

.slider .container {
    width: 100%;
    height: 100%;
    margin: auto;
}

.slider .container h1 {
    font-size: 50px;
    font-weight: bold;
    line-height: 1.2;
    padding-top: 200px;
    width: 460px;
    position: relative;
    text-transform: uppercase;
    margin-left: 100px;
    font-family: "Muli", sans-serif;
}

.slider .container h1 span {
    color: #1f2b7b;
    position: absolute;
    animation: animate__pulse 2s linear
}

.slider .container p {
    font-size: 30px;
    width: 600px;
    margin-left: 100px;
    animation: fadeInLeft 3s 1 .3s linear
}

.slider .container button {
    background: #559af3;
    ;
    color: #FFF;
    border: 1px solid #559af3;
    width: 190px;
    height: 60px;
    margin-left: 100px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    animation: fadeInLeft 3s 1 .3s linear
}


/*-------------------------------------------*/

.about {
    width: 100%;
    height: 700px;
    margin-top: 30px;
}

.about .container {
    width: 100%;
    height: 100%;
    margin: auto;
}

.about .container .text {
    float: left;
    width: 40%;
    padding-left: 40px;
    color: #000;
}

.about .container .text span {
    font-size: 20px;
    width: 300px;
    color: #559af3;
    ;
    font-weight: bold;
    display: inline-block;
    text-transform: capitalize;
    margin-bottom: 20px;
    margin-left: 10px;
}

.about .container .text h1 {
    text-transform: capitalize;
    margin-left: 10px;
}

.about .container .text p {
    line-height: 1.2;
    font-size: 20px;
    margin-left: 10px;
}

.about .container .text button {
    display: block;
    margin-bottom: 30px;
    color: #FFF;
    border: 1px solid #559af3;
    width: 190px;
    height: 60px;
    margin-left: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 10px;
    animation: fadeInLeft 3s 1 5s linear;
}

.about .container .text button:first-of-type {
    background: #0056b3;
    border: 1px solid #0056b3;
}

.about .container .text button:nth-of-type(2) {
    background: #9ea0af;
    border: 1px solid #9ea0af;
}

.about .container .text button:last-of-type {
    background: #9ea0af;
    border: 1px solid #9ea0af;
}

.about .container .image {
    float: right;
    width: 60%;
    padding-left: 60px;
    position: relative;
}

.about .container .image img:first-child {
    z-index: 1;
}

.about .container .image img:last-child {
    z-index: 2;
    position: absolute;
    top: 60px;
    left: 300px;
}


/*-------------------------------------------*/

.Department {
    width: 100%;
    height: 600px;
    margin-top: 30px;
}

.Department .container {
    width: 100%;
    height: 100%;
    margin: auto;
    text-align: center;
}

.Department .container span {
    color: #559af3;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 20px;
}

.Department .container h1 {
    text-transform: uppercase;
    font-size: 50px;
    line-height: 1.2
}

.Department .container .icons {
    width: 900px;
    height: 300px;
    display: flex;
    margin: auto;
}

.Department .container .icons div {
    width: 200px;
    height: 200px;
    border: 1px solid #EEE;
    margin-left: 20px;
    padding: 30px 0px;
    animation: fadeInLeft 3s 5 1s linear;
}

.Department .container .icons div:first-of-type {
    background: #559af3;
    color: #FFF;
}

.Department .container .icons div:hover {
    background: #559af3;
    color: #FFF;
}

.Department .container .text {
    /*background-image: url('https://i.imgur.com/N7nmWOq.png');
    background: #559af3;*/
    color: #FFF;
    width: 980px;
    height: 570px;
    margin: fixed;
    padding: 30px;
}

.Department .container .text .info {
    float: left;
    width: 50%;
}

.Department .container .text .info h4 {
    text-align: left;
    font-size: 30px;
    line-height: 1.3
}

.Department .container .text .info p {
    text-align: left;
    line-height: 1.3;
    font-size: 20px
}

.Department .container .text .info button {
    background: #FFF;
    color: #000;
    border: 1px solid #FFF;
    width: 170px;
    height: 60px;
    padding: 10px;
    margin-left: -300px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.Department .container .text .image {
    float: right;
    width: 50%;
}

.Department .container .text .image img {
    width: 100%;
    margin-left: 30px;
    margin-top: -30px;
}


/*-------------------------------------------*/

.gallery {
    width: 1200px;
    height: 700px;
}

.gallery .container {
    width: 100%;
    height: 900px;
    position: relative;
    display: inline-block;
    margin: auto;
}

.gallery .container div {
    margin-left: 20px;
    display: inline-block;
}

.gallery .container div img {
    transition: all 1s ease-in-out;
}

.gallery .container div img:hover {
    transform: scale(1.06);
}

.gallery .container div:nth-child(2) {
    position: absolute;
    top: -7px;
}

.gallery .container div:nth-child(3) {
    position: absolute;
    left: 860px;
    top: -7px;
}

.gallery .container div:nth-child(4) {
    position: absolute;
    top: 300px;
    left: 600px;
}

.gallery .container div:nth-child(5) {
    position: absolute;
    top: 580px;
    left: 0px;
}

.gallery .container div:nth-child(6) {
    position: absolute;
    left: 300px;
    top: 580px;
}

.gallery .info {
    width: 800px;
    height: 500px;
    margin: 50px auto;
    background-image: url('https://i.imgur.com/N7nmWOq.png');
}

.gallery .info .text {
    padding: 100px;
    padding-left: 20px;
    padding-right: 20px;
    float: left;
    color: #FFF;
    width: 50%;
    font-size: 30px;
}

.gallery .info .text .img {
    float: left;
    margin-left: 70px;
}

.gallery .info .text .testi {
    float: right;
    font-size: 15px;
    font-weight: bold;
    margin-right: 50px;
}

.gallery .info .image {
    float: right;
    width: 50%;
}

.gallery .info .image img {
    width: 100%;
    height: 500px;
}


/*-------------------------------------------*/

.doctors {
    width: 100%;
    height: 850px;
}

.doctors .container {
    width: 100%;
    height: 100%;
    margin: auto;
}

.doctors .container span:first-child {
    text-align: center;
    color: #559af3;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: bold;
    margin-left: 45%;
}

.doctors .container h1 {
    text-align: center;
    text-transform: capitalize;
    font-size: 50px;
}

.doctors .container div {
    display: inline-block;
    margin-left: 70px;
    background: #FFF;
    text-align: center;
    padding-bottom: 20px;
    transition: all .4s ease-out;
    border-radius: 10%;
}

.doctors .container div h4,
p {
    font-size: 20px;
}

.doctors .container div i {
    font-size: 20px;
    margin-left: 10px;
}

.doctors .container div:hover {
    color: #FFF;
    background: #00F;
    transform: scale(1.06);
}